<!DOCTYPE html>
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Home </title>

    <link rel="shortcut icon" href="static/assets/images/fav.jpg">
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" href="static/assets/plugins/slider/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/assets/plugins/slider/css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="static/assets/css/style.css" />
</head>
    <body>
    <header id="menu-jk">
    
        <div id="nav-head" class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-3 no-padding col-sm-12 nav-img">
                        <img src="static/assets/images/logo.jpg" alt="">
                       <a data-toggle="collapse" data-target="#menu" href="#menu" ><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
                    </div>
                    <div id="menu" class="col-lg-8 col-md-9 d-none d-md-block nav-item">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#about_us">About Us</a></li>
                            <li><a href="#contact_us">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </header>

  {% block body %} {% endblock body %}
</body>
<script src="static/assets/js/jquery-3.2.1.min.js"></script>
        <script src="static/assets/js/popper.min.js"></script>
<script src="static/assets/js/bootstrap.min.js"></script>
<script src="static/assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
<script src="static/assets/plugins/scroll-nav/js/jquery.easing.min.js"></script>    
<script src="static/assets/plugins/scroll-nav/js/scrolling-nav.js"></script>
<script src="static/assets/js/script.js"></script>
</html>