{% extends "base.html" %}

{% block body %}

<div  class="slider container-fluid">
    <ul id="slider">
        <li data-active="1" data-background="static/assets/images/slider/slider_1.jpg">
            <div class="slider-layer">
                <div class="container">
                    <h1 class="animated  fadeInRightBig ">Chikitsa Hospitals<br> Welcome</h1>
                    <p class="animated  fadeInLeftBig">Sometimes the only choice you have are the bad ones but you still have to choose.<br> Your health is our priority.</p>
                </div>
            </div>
            
        </li>
        <li data-active="0" data-background="static/assets/images/slider/slider_1.jpg">
            <div class="slider-layer">
                <div class="container">
                    <h1 class="animated  slideInDown ">Compassionate care, cutting-edge technology.<br>Healing starts here.</h1>
                    <p class="animated  zoomInLeft ">Only a life lived for others is a life worthwhile<br> Caring for you, beyond the cure.</p>
                </div>
            </div>
        </li>
        
    </ul>
</div><!--########## Slider Ends Here ##########-->


<section id="services" class="key-features">
    <div class="container">
        <div class="inner-title">
            
            <h2>Our Key Features</h2>
            <p>Take a look at some of our key features</p>
        </div>
        
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="single-key">
                    <i class="fas fa-hospital-alt"></i>
                    <h5>Newest Technologies</h5>
                    <p>Explore how AI is being used to analyze medical data, assist in diagnoses, and even predict patient outcomes, leading to our more accurate and best efficient healthcare we have.</p>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="single-key">
                    <i class="fas fa-user-md"></i>
                    <h5>Experianced Doctors</h5>
                    <p>Our doctor teams are composed of experienced professionals who are committed to staying updated with the latest medical advancements, ensuring that you receive the best of best.</p>
                </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="single-key">
                        <i class="fas fa-briefcase-medical"></i>
                        <h5>High Customer Satisfaction</h5>
                        <p>We understand that your experience with healthcare extends far beyond the medical treatment itself; it encompasses the kindness of our staff, the comfort of our facilities.</p>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6">
                    <div class="single-key">
                        <i class="fas fa-capsules"></i>
                        <h5>Pharma Pipeline</h5>
                        <p>Our hospital is dedicated to staying the forefront of medical advancements. We're proud to offer insights into pharmaceutical pipeline, which represents our drugs.</p>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6">
                    <div class="single-key">
                        <i class="fas fa-prescription-bottle-alt"></i>
                        <h5>Pharma Team</h5>
                        <p>Meet our dedicated pharmaceutical team, a group of highly skilled professionals committed to ensuring the safe and effective use of medications for your well-being.</p>
                    </div>
                </div>
                
                
                
                <div class="col-md-4 col-sm-6">
                    <div class="single-key">
                        <i class="far fa-thumbs-up"></i>
                        <h5>High Quality treatments</h5>
                        <p>At Chikitsa, we are dedicated to providing high-quality treatments that prioritize your health and well-being above all else, At chikitsa we care for the well being of you."</p>
                    </div>
                </div>
            </div>
            
            


            
            
        </div>
        
    </section>
    
    <section id="about_us" class="with-medical">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <img src="static/assets/images/why.jpg" alt="">
                </div>
                <div class="col-lg-6 col-md-12 txtr">
                    <h4>Why choose Health Care with <br>
                        <span>Medical Hospital</span>   
                    </h4>
                    <p>Welcome to Chikitsa, a trusted healthcare institution dedicated to providing high-quality medical services. With a skilled team of healthcare professionals, cutting-edge technology, and a patient-centered approach, we prioritize your well-being. Our commitment to excellence, safety, and compassionate care makes us your premier choice for healthcare. Thank you for choosing Chikitsa as your healthcare partner.</p>
                    <p>Chikitsa is a leading healthcare facility committed to your well-being. With a legacy of 20 years, we offer expert medical care, state-of-the-art technology, and a caring environment. Our dedicated team of healthcare professionals ensures your health and comfort are our top priorities. Thank you for choosing Chikitsa as your trusted healthcare provider. </p>
                </div>
                
            </div>
        </div>
    </section>
    
    
    
    
    <!--  ************************* chatbot Here ************************** -->
    
            
            <div id="chatbot-container" class="hidden">
                <div id="chatbot-header">
                    <h3>Bookings</h3>
                </div>
                <div id="chatbot-body">
                    <div id="chatbot-messages"></div>
                    {% csrf_token %}
                    <div class="input-and-send">
                        <input type="text" id="user-input" placeholder="Type your message...">
                        <button id="send-button">Send</button>
                    </div>
                </div>
            </div>
            <button id="chatbot-toggle" >Shlok</button>
            

        
        <link rel="stylesheet" type="text/css" href="static/chat_styles.css">
        <script src="static/chat_script.js"></script>
        

{% endblock body %}
