{% extends "base.html" %}

{% block body %}
 <!-- Chatbot container -->
<div id="chatbot-container" class="hidden">
    <div id="chatbot-header">
        <h3>SHLOK</h3>
    </div>
    <div id="chatbot-body">
        <div id="chatbot-messages"></div>
        {% csrf_token %}
        <div class="input-and-send">
            <input type="text" id="user-input" placeholder="Type your message...">
            <button id="send-button">Send</button>
        </div>
    </div>
</div>
<button id="chatbot-toggle" >Shlok</button>

<!-- Include JavaScript -->
<link rel="stylesheet" type="text/css" href="static/chat_styles.css">
<script src="static/chat_script.js"></script>
{% endblock body %}
    